$imgAPI-agency0: 'https://via.placeholder.com/964x723/1071ef/FFFFFF';
$imgAPI-agency1: 'https://via.placeholder.com/1280x825/99d8ff/FFFFFF';
$imgAPI-agency2: 'https://via.placeholder.com/490x327/ffc999/FFFFFF';
$imgAPI-agency3: 'https://via.placeholder.com/490x327/ffc999/FFFFFF';
$imgAPI-agency4: 'https://via.placeholder.com/490x327/ffc999/FFFFFF';
$imgAPI-agency5: 'https://via.placeholder.com/331x690/fdcc0c/FFFFFF';
$imgAPI-agency6: 'https://via.placeholder.com/521x309/4a0cfd/FFFFFF';
$imgAPI-agency7: 'https://via.placeholder.com/521x309/ffe55b/FFFFFF';
$imgAPI-agency8: 'https://via.placeholder.com/713x309/79c0ff/FFFFFF';
$imgAPI-agency9: 'https://via.placeholder.com/711x693/52596b/FFFFFF';
